body {
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

main {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.8);
}

#me {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgba(250, 250, 250, 0.8);
}

#about-content {
    width: 74%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "skills skills my-desc"
        "skills skills my-desc"
        "projects projects my-desc"
        "projects projects education"
        "projects projects education";
}

#jPic {
    width: 96%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    margin: 5px;
    margin-bottom: 20px;
}

.text {
    padding: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

.type {
    font-weight: bold;
    font-size: 25px;
    color: teal;
    margin-right: 10px;
    margin-left: 5px;
}

.desc {
    font-size: 25px;
    color: black;
}

b {
    color: black;
}

.tile {
    background-color: rgba(248, 248, 248, 0.5);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.8);
}

#my-desc {
    grid-area: my-desc;
    background-color: rgba(250, 250, 250, 0.8);
}

#education {
    grid-area: education;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.8);
}

#my-desc p {
    font-family: 'Times New Roman', Times, serif;
}

#projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

#skillsCont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.skillCont {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
}

.skillImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 20px;
}

.tile-heading {
    color: teal;
    text-align: center;
    font-size: 30px;
    margin: 5px;
}

#dekut {
    width: 100%;
    border-radius: 5px;
}

#desc {
    color: #4B298F;
    font-size: 35px;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#projectTiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

figure {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.project-img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
}

figcaption {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.contact-links {
    margin: 5px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration-line: none;
    font-weight: 700;
}

.contact-links:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration-line: underline;
}

.linkImg {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
}

.contactsRows {
    display: flex;
    justify-content: start;
    align-items: center;
}

.contactsRow {
    display: flex;
    justify-content: start;
    align-items: center;
}

.linkCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}